body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section {
    margin: 0 0 3% 0%;
}

p, li, span {
    font-size: 1.25rem;
}

h1, h4, p, ul {
    margin-left: 1%;
}

li {
    font-weight: normal;
}

a {
    color: inherit;
}

#project-div > * {
    width: 23%;
    margin: 0.5%;
}

#me {
    margin-right: 2.5%;
    width: 20%;
    box-shadow: 0.25em 0.25em black
}

#about {
    margin-right: 9%;
}

#skills-list {
    margin-right: 28.5%;
    width: 25%;
}